<!DOCTYPE html>
<html lang="en">
<% include partials/meta.ejs %>
<body>
  <div class='wrap'>
    <h2>SIGN IN FORM</h2>
    <input type='text' name='username' placeholder='Username..'>
    <input type='password' name='password' placeholder='Password..'>
    <button onClick='onSignIn()'>Sign in</button>
    <span id='error'></span>
  </div>
  <script src='/js/main.js'></script>
</body>
</html>